In [75]:
import pandas as pd

Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [2]:
movie = pd.read_csv ('movies.csv') # данные с фильмами
rate = pd.read_csv ('ratings.csv') # данные с рейтингами

In [3]:
rezult = pd.merge(left=movie,right=rate,on="movieId") # Объединяем данные по movieId
rezult.head()
# rezult.shape

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483

In [4]:
rezult[rezult.rating == 5].head(10) # Выделяем данные с рейтингом 5
# rezult[rezult.rating == 5].shape

,movieId,title,genres,userId,rating,timestamp
9,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,31,5.0,850466616
12,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,40,5.0,832058959
13,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,43,5.0,848993983
16,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,46,5.0,834787906
19,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,57,5.0,965796031
20,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,63,5.0,1443199669
24,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,71,5.0,864737933
34,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,96,5.0,964772990
50,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,145,5.0,832105242
51,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,151,5.0,855947195

In [5]:
rezult[rezult.rating == 5]['title'].value_counts().head(10) # ТОП 10 фильмов c рейтингом 5

Shawshank Redemption, The (1994)             153
Pulp Fiction (1994)                          123
Forrest Gump (1994)                          116
Matrix, The (1999)                           109
Star Wars: Episode IV - A New Hope (1977)    104
Silence of the Lambs, The (1991)              92
Schindler's List (1993)                       92
Godfather, The (1972)                         88
Fight Club (1999)                             81
Braveheart (1995)                             80
Name: title, dtype: int64

Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [56]:
data = pd.read_csv('power.csv')
data.shape

(1189482, 4)

In [52]:
filtered_countries = data[data['country'].isin (['Estonia','Lithuania','Latvia'])] # Фильтрурую по странам
filtered_countries.shape

(27306, 4)

In [53]:
fc = filtered_countries[filtered_countries['category'].isin ([4,12,21])] # Фильтрурую по категории
fc.shape

(1253, 4)

In [54]:
fc_0 = fc[fc.quantity >= 0] # Откидываю отрицательные занчения
fc_0.shape

(1245, 4)

In [55]:
fc_total = fc_0[fc_0['year'].isin ([2005,2006,2007,2008,2009,2010])] # Фильтрурую по годам
fc_total.shape

(408, 4)

In [47]:
summ = fc_total['quantity'].sum() # Рассчитываю сумму
print (f' Cуммарное потребление стран Прибалтики категорий 4, 12 и 21 за период с 2005 по 2010 года  {summ}' )

 Cуммарное потребление стран Прибалтики категорий 4, 12 и 21 за период с 2005 по 2010 года  240580.0

Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [81]:
page_url = 'https://www.moex.com/s1345'

# Импортируем нужную нам страницу в df
# attrs = {'class': 'news_table'} ---> указываем какой именно блок нам нужен
# encoding='utf-8' ---> указываем кодировку страниц для корректного отображения кириллицы
df =pd.read_html(page_url, attrs = {'class': 'table1'}, encoding='utf-8')
df

[    Период  \
 0     2018
 1     2017
 2  1П 2017
 3     2016
 4     2015
 5     2014
 6     2013
 7     2012
 8     2011

   Дата составления списка лиц, имеющих право  на получение дивидендов  \
 0                                         14.05.2019
 1                                         15.05.2018
 2                                         29.09.2017
 3                                         16.05.2017
 4                                         16.05.2016
 5                                         12.05.2015
 6                                         11.07.2014
 7                                         20.05.2013
 8                                         21.05.2012

    Размер объявленных дивидендов  в расчете на одну акцию, руб.  \
 0                                                770
 1                                                547
 2                                                249
 3                                                768
 4                                                711
 5                                                387
 6                                                238
 7                                                122
 8                                                 31

   Размер объявленных дивидендов  (до вычета налога на доходы), млн. руб.  \
 0                                          17 528,29
 1                                          12 451,92
 2                                           5 668,24
 3                                          17 482,76
 4                                          16 201,11
 5                                             881832
 6                                             542315
 7                                             290176
 8                                              68120

   % от чистой прибыли по МСФО
 0                         89%
 1                        89%1
 2                           -
 3                         69%
 4                         58%
 5                         55%
 6                         47%
 7                         35%
 8                         10%  ]

In [85]:
page_url = 'https://abreview.ru/stat/aeb/'

# Импортируем нужную нам страницу в df
# attrs = {'class': 'news_table'} ---> указываем какой именно блок нам нужен
# encoding='utf-8' ---> указываем кодировку страниц для корректного отображения кириллицы
df1 =pd.read_html(page_url, attrs = {'class': 'top5'}, encoding='utf-8')
df1

[   По продажам  за апрель 2020 г.  По продажам  за апрель 2020 г..1  \
 0                             NaN                                 1
 1                             NaN                                 2
 2                             NaN                                 3
 3                             NaN                                 4
 4                             NaN                                 5

   По продажам  за апрель 2020 г..2 По продажам  за апрель 2020 г..3  \
 0                             Лада                            9 396
 1                              Kia                            4 334
 2                          Renault                            3 135
 3                       Volkswagen                            3 093
 4                            Skoda                            3 041

    По продажам  за апрель 2020 г..4
 0                               NaN
 1                               NaN
 2                               NaN
 3                               NaN
 4                               NaN  ,
    По росту  за апрель 2020 г.  По росту  за апрель 2020 г..1  \
 0                          NaN                              1
 1                          NaN                              2
 2                          NaN                              3
 3                          NaN                              4
 4                          NaN                              5

   По росту  за апрель 2020 г..2 По росту  за апрель 2020 г..3  \
 0                       Changan                           53%
 1                         Isuzu                          -30%
 2                         Haval                          -30%
 3                      Chrysler                          -33%
 4                         Geely                          -35%

    По росту  за апрель 2020 г..4
 0                            NaN
 1                            NaN
 2                            NaN
 3                            NaN
 4                            NaN  ,
    По росту за январь -апрель 2020  По росту за январь -апрель 2020.1  \
 0                              NaN                                  1
 1                              NaN                                  2
 2                              NaN                                  3
 3                              NaN                                  4
 4                              NaN                                  5

   По росту за январь -апрель 2020.2 По росту за январь -апрель 2020.3  \
 0                           Changan                              329%
 1                             Haval                              118%
 2                          Cadillac                               34%
 3                            Suzuki                               28%
 4                             Geely                               27%

    По росту за январь -апрель 2020.4
 0                                NaN
 1                                NaN
 2                                NaN
 3                                NaN
 4                                NaN  ]